[submodule "NebulaStablecoin/lib/forge-std"]
	path = NebulaStablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NebulaStablecoin/lib/openzeppelin-contracts"]
	path = NebulaStablecoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NebulaQuest/lib/forge-std"]
	path = NebulaQuest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EthKipu/lib/forge-std"]
	path = EthKipu/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
